@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
body {
  font-family: 'Markazi Text', serif;
  color: #333;
  background-color: #f8f8f8;
}

/* Navigation Bar */
nav {
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
}

.logo-item {
  margin-right: auto;
}

.logo {
  width: 200px;
  height: 50px;
}

.nav-list li {
  margin-left: 2rem;

}

.nav-list a {
  text-decoration: none;
  color: #333;
  font-weight: bold;

}

.nav-list a:hover {
  background-color: #f4a261;
}

/* Hero Section */
#hero {
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: #495E57;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 5rem;
  color: #F4CE14;
  font-family: 'Markazi Text', serif;
}

.hero-text h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 1rem;
}

.hero-text p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
}

.hero-text button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #F4CE14;
  font-weight: bold;
  border-radius: 8px;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #f4a261;
}

.hero_image {
  max-width: 30%;
  max-height: 300px;
  object-fit: cover;
  height: auto;
  border-radius: 8px;
  margin-top: 1rem;
}

/* Form Grid Layout */
.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: #dededead 1px 1px 1px 1px;
  max-width: 600px;
  margin: auto;
  margin-bottom: 50%;
}

.form-grid h2 {
  grid-column: span 2;
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
  font-size: 1.5rem;
}

.form-grid fieldset {
  grid-column: span 2;
  border: none;
  padding: 0;
  margin: 0;
}

.form-grid legend {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #333;
}

.form-grid label {
  display: block;
  margin-bottom: 0.5rem;
  color: #555;
  font-weight: bold;
}

.form-grid input,
.form-grid select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.form-grid input[type="submit"] {
  grid-column: span 2;
  background-color: #f4ce14;
  color: #fff;
  border: none;
  padding: 0.75rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

.form-grid input[type="submit"]:hover {
  background-color: #e0b212;
}

.form-grid input[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Media Queries */
@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
    padding: 1.5rem;
  }

  .form-grid h2 {
    font-size: 1.25rem;
  }

  .form-grid input[type="submit"] {
    grid-column: span 1;
    padding: 0.75rem;
    font-size: 1.1rem;
  }
}

@media (max-width: 480px) {
  .form-grid {
    padding: 1rem;
  }

  .form-grid h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }

  .form-grid label {
    font-size: 0.9rem;
  }

  .form-grid input,
  .form-grid select {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .form-grid input[type="submit"] {
    font-size: 1rem;
    padding: 0.6rem;
  }
}





/* Specials Section */
.highlight-section {
  padding: 2rem;
  background-color: #e9ecef;
}

.specials-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.specials-header h2 {
  font-size: 2rem;
  color: #555;
}

.online-menu-button {
  padding: 0.5rem 1rem;
  background-color: #F4CE14;
  border-radius: 8px;
  font-weight: bold;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
}

.online-menu-button:hover {
  background-color: #f4a261;
}

.specials-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.food-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.food-card-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.food-card-body {
  padding: 1rem;
}

.food-card-body-header {
  display: flex;
  flex-direction: column;
}

.food-card-body-title-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.food-card-title {
  font-size: 1.5rem;
  color: #333;
}

.food-card-price {
  font-size: 1.2rem;
  color: #f4a261;
}

.food-card-description {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1rem;
}

.food-card-delivery {
  display: flex;
  align-items: center;
  background-color: #00000000;
  border: none;
}

.food-card-delivery-title:hover {
  color: #F4CE14;
}

.food-card-delivery-title {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: #000000;
}

.delivery-icon {
  width: 24px;
  height: 24px;
}

/* Testimonials Section */
#testimonials {
  padding: 2rem;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}

#testimonials h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #333;
}

.testimonials-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.testimonial {
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.testimonial .rating {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.testimonial .rating .star {
  width: 24px;
  height: 24px;
  margin: 0 2px;
}

.testimonial .name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #555;
}

.testimonial .review {
  font-size: 1rem;
  color: #777;
}

/* Media Queries */
@media (max-width: 1024px) {
  .testimonials-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .testimonials-list {
    grid-template-columns: 1fr;
  }

  #testimonials h2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
}


/* About Section */
.about {
  padding: 2rem;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr auto; /* Two columns: text and images */
  align-items: start; /* Align items to the top */
  gap: 2rem; /* Gap between text and images */
}

.about-text {
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 2.5rem;
  color: #F4CE14;
  margin-bottom: 0.5rem;
}

.about-subtitle {
  font-family: "Markazi Text";
  font-size: 40px;
  line-height: 1.2;
  color: #333333;
  margin-bottom: 1rem;
}

.about-description {
  font-size: 1.5rem;
  color: #666;
  margin-top: 1rem;
}

.about-images {
  position: relative;
  width: 100%;
  max-width: 600px;
}

.about-Restaurant {
  object-fit: cover;
  width: 100%;
  height: 350px;
  max-width: 300px;
  position: relative;
  z-index: 2;
}

.about-MariondAdrian {
  object-fit: cover;
  width: 100%;
  height: 350px;
  max-width: 300px;
  position: absolute;
  z-index: 1;
  right: 200px;
  bottom: -12px;
}

/* Media Queries */
@media (max-width: 1024px) {
  .about {
    grid-template-columns: 1fr; /* Stack text and images vertically */
  }

  .about-images {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .about-MariondAdrian {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .about-title {
    font-size: 2rem;
  }

  .about-subtitle {
    font-size: 1.5rem;
  }

  .about-description {
    font-size: 1.2rem;
  }

  .about-images {
    flex-direction: column;
    align-items: center;
  }

  .about-Restaurant,
  .about-MariondAdrian {
    max-width: 250px;
    height: auto;
  }

  .about-MariondAdrian {
    right: 0;
    bottom: 0;
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.5rem;
  }

  .about-subtitle {
    font-size: 1.2rem;
  }

  .about-description {
    font-size: 1rem;
  }

  .about-images {
    flex-direction: column;
    align-items: center;
  }

  .about-Restaurant,
  .about-MariondAdrian {
    max-width: 200px;
    height: auto;
  }

  .about-MariondAdrian {
    right: 0;
    bottom: 0;
  }
}



/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  text-align: left;
}

.footer-column {
  width: 30%;
  margin-bottom: 1rem;
}

.footer-column h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style-type: none;
}

.footer-column li {
  margin-bottom: 0.5rem;
}

.footer-column a {
  text-decoration: none;
  color: #fff;
}

.footer-column a:hover {
  color: #f4a261;
}

/* Media Queries */
@media (max-width: 1024px) {
  .specials-list {
    flex-direction: column;
    align-items: center;
  }

  .food-card {
    width: 80%;
  }

  .testimonial-card {
    width: 45%;
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin: 0.5rem 0;
  }

  #hero {
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .highlight-section {
    padding: 1rem;
  }

  .specials-header {
    flex-direction: column;
  }

  .about {
    padding: 1rem;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-column {
    width: 100%;
  }

  .testimonial-card {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text h2 {
    font-size: 1rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .specials-header h2 {
    font-size: 1.5rem;
  }

  .online-menu-button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .food-card-title {
    font-size: 1.25rem;
  }

  .food-card-price {
    font-size: 1rem;
  }

  .food-card-description {
    font-size: 0.875rem;
  }

  .food-card-delivery-title {
    font-size: 0.875rem;
  }

  .testimonial-card {
    width: 100%;
  }
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  width: 50px;
  height: 50px;
}

.social-media a {
  margin: 0 1rem;
}

.social-media img {
  width: 24px;
  height: 24px;
}

.contact-info ul {
  list-style-type: none;
}

.contact-info li {
  margin-bottom: 0.5rem;
}

/* Media Queries */
@media (max-width: 1024px) {
  .specials-list {
    flex-direction: column;
    align-items: center;
  }

  .food-card {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin: 0.5rem 0;
  }

  #hero {
    flex-direction: column;
  }

  .hero-text h1 {
    font-size: 2rem;
  }

  .hero-text h2 {
    font-size: 1.5rem;
  }

  .highlight-section {
    padding: 1rem;
  }

  .specials-header {
    flex-direction: column;
  }

  .about {
    flex-direction: column;
  }

  .about img {
    margin-left: 0;
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .hero-text h1 {
    font-size: 1.5rem;
  }

  .hero-text h2 {
    font-size: 1rem;
  }

  .hero-text p {
    font-size: 1rem;
  }

  .hero-text button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .specials-header h2 {
    font-size: 1.5rem;
  }

  .online-menu-button {
    padding: 0.5rem;
    font-size: 0.875rem;
  }

  .food-card-title {
    font-size: 1.25rem;
  }

  .food-card-price {
    font-size: 1rem;
  }

  .food-card-description {
    font-size: 0.875rem;
  }

  .food-card-delivery-title {
    font-size: 0.875rem;
  }
}
